* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  header {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
    background-color: black;
    width: 80%;
    color: whitesmoke;
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 1;
  }
  h1{
    margin-top: 30%;
  }
  .nav {
    width: fit-content;
    div a h1:hover {
      background-color: white;
      color: black;
    }
    a {
      
      padding: 5px;
      
    }
  }
  header h1 {
    width: fit-content;
    margin: 0 auto;
  }
  header .nav a div:hover,
  header .nav a div:focus {
    background-color: white;
    color: black;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .detail {
    background-color: whitesmoke;
  }
  .detail:hover,
  .detail:focus {
    background-color: grey;
    opacity: 0.5;
  }
}
.detail {
  text-align: center;
  border: 1px solid transparent;
  p {
    margin: 100px 0;
  }
}
.nav {
  display: flex;
  gap: 50px;
  a {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 50px;
  }
}
.info {
  text-align: center;
  margin-top: 150px;
}
.add {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  input {
    height: 50px;
    width: 50%;
    margin: 70px auto;
    display: block;
    padding: 15px;
  }
  button {
    width: 100px;
    height: 50px;
    margin: 60px auto;
  }
}
.save {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    margin-top: 30px;
    height: 40px;
    margin-left: 150px;
  }
  div input{
   padding: 5px;
  }
  button{
    margin-top: 100px;
    padding: 10px;
  }
}
.a{
  margin-top: 120px;
}
.address{
  a button{
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
  }
  button{
    padding: 10px;
  }
}